mixin question(data)
  .question&attributes(attributes)
    h4.question__title.js-next-toggle= data.title
    .question__content
      p В личном кабинете у участника отражается уведомление, что «Тайный друг» хочет отправить ему подарок. Для получения подарка необходимо направить свой контактный адрес место работы/учебы/места жительства. 
