.question {
  padding: 30px 0 27px;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    position: relative;
    padding-right: 43px;
    display: inline-block;
    cursor: pointer;

    &:hover {

      &:after {
        transform: translateX(10px) rotate(45deg);
      }
    }

    &:after {
      position: absolute;
      top: 9px;
      right: 0;
      width: 20px;
      height: 20px;
      content: '';
      border: solid #faa419;
      border-width: 4px 4px 0 0;
      transform: rotate(45deg);

      @include transition;

      @include media-breakpoint-down(sm) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    &.is-open:after {
      top: 5px;
      transform: rotate(135deg);
    }
  }

  &__content {
    padding-top: 26px;
    padding-bottom: 7px;
    display: none;
    max-width: 80%;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    p {
      margin-bottom: 0;
      line-height: 26px;
    }
  }
}
