mixin modal(data)
  .modal&attributes(attributes)
    a.modal__close(href="#")
  
    if data && data.modifier == 'type'
      .container
        .row
          .col-md-6.col-lg-4.mb-20.mb-lg-30
            +type({
              icon: 'type-1.svg',
              title: 'Создать открытку с поздравлением'
            })
          .col-md-6.col-lg-4.mb-20.mb-lg-30
            +type({
              icon: 'type-2.svg',
              title: 'Записать видео-поздравление'
            })
          .col-md-6.col-lg-4.mb-20.mb-lg-30
            +type({
              icon: 'type-3.svg',
              title: 'Отправить аудиопоздравление'
            })
          .col-md-6.col-lg-4.mb-20.mb-lg-0
            +type({
              icon: 'type-4.svg',
              title: 'Провести видеовстречу'
            })
          .col-md-6.col-lg-4.mb-20.mb-lg-0
            +type({
              icon: 'type-5.svg',
              title: 'Нарисовать открытку'
            })
          .col-md-6.col-lg-4.mb-20.mb-lg-0
            +type({
              icon: 'type-6.svg',
              title: 'Отправить посылку с подарком'
            })
  
    else if data && data.modifier == 'card'
      .modal__header
        a.modal__back-btn(href="#")
        .modal__header-content
          p.lg.font-weight-bold.mb-0 Выберите шаблон открытки
      form.form(action="#", method="POST")
        .slider.mb-25
          +card({
            picture: 'card-1.jpg',
            id: 'card1'
          })
          +card({
            picture: 'card-2.jpg',
            id: 'card2'
          })
          +card({
            picture: 'card-3.jpg',
            id: 'card3'
          })
          +card({
            picture: 'card-1.jpg',
            id: 'card4'
          })
          +card({
            picture: 'card-2.jpg',
            id: 'card5'
          })
          +card({
            picture: 'card-3.jpg',
            id: 'card6'
          })
          +card({
            picture: 'card-1.jpg',
            id: 'card7'
          })
          +card({
            picture: 'card-2.jpg',
            id: 'card8'
          })
        .form__item.form-group
          label.form__label.p.xxs Введите текст поздравления
          textarea.input.input--textarea.form-control
        .modal__card-footer.mt-5
          a.modal__card-preview(href="#") Просмотреть открытку
          .modal__card-footer-right
            button.btn.btn-primary(type="submit") Создать открытку
            button.btn.btn-primary(type="submit") Отправить
  
    else if data && data.modifier == 'video'
      .modal__header
        a.modal__back-btn(href="#")
        .modal__header-content
          p.lg.font-weight-bold.mb-0 Запишите видеопоздравление и загрузите файл на сайт
      form.form(action="#", method="POST")
        .container
          .row
            .col-lg-6.mb-20.mb-lg-0
              .custom-file
                input#customFile.custom-file-input(type='file')
                label.custom-file-label(for='customFile')
                  span Загрузите видео
            .col-lg-6
              +video.video--dark
        .modal__form-footer.mt-30
          .p.xxxs.mb-0.mb-20.mb-md-0.mr-md-20.transparent Размер видео не должен превышать 250 мб и длительностью не более 2 минут. 
          button.btn.btn-primary(type="submit") Отправить
  
    else if data && data.modifier == 'audio'
      .modal__header
        a.modal__back-btn(href="#")
        .modal__header-content
          p.lg.font-weight-bold.mb-0 Выберите поздравительную аудио-открытку от знаменитости
      +audio-card({
        photo: 'audio-card-1.jpg',
        name: 'Сергей Валентинович',
        occupation: 'Музыкант'
      })
      +audio-card({
        photo: 'audio-card-1.jpg',
        name: 'Сергей Валентинович',
        occupation: 'Музыкант'
      })
      +audio-card({
        photo: 'audio-card-1.jpg',
        name: 'Сергей Валентинович',
        occupation: 'Музыкант'
      })
  
    else if data && data.modifier == 'zoom'
      .modal__header.mb-20
        a.modal__back-btn(href="#")
        .modal__header-content
          p.lg.font-weight-bold.mb-10 Зарегистрируйте аккаунт в ZOOM.
          p.mt-20.mb-0 Скопируйте ссылку на вашу пресональную  комнату, укажите время и дату встречи и отправьте ее вашему тайному другу
      form.form(action="#", method="POST")
        .form__item.form-group
          label.form__label.p.xxs Ссылка на видео-встречу
          input.input.form-control(type="text")
        .container.mb-15
          .row
            .col-sm-6
              .form__item.form-group
                label.form__label.p.xxs Выберите дату
                input.input.form-control(type="text", placeholder="ДД.ММ. ГГГГ")
            .col-sm-6
              .form__item.form-group
                label.form__label.p.xxs Выберите время
                input.input.input--short.form-control(type="text", placeholder="16:00")
        .modal__form-footer
          .p.xxxs.mb-0.mb-20.mb-md-0.mr-md-20.transparent Доподнительная информация для регистрации зум комнаты
          button.btn.btn-primary(type="submit") Отправить приглашение
  
    else if data && data.modifier == 'sent'
      .container
        .row.justify-content-center
          .col-lg-7
            .text-center
              p.lg.font-weight-bold.mb-30 Ваше поздравление отправлено!
              p.mb-30 Статус получения вы можете отследить в своем личном кабинете в разделе "Исходящие поздравления"
              a.btn.btn-primary(href="#") Вернуться в личный кабинет
  
    else if data && data.modifier == 'address'
      .container
        .row.justify-content-center
          .col-lg-8
            .text-center
              p.font-weight-bold.mb-30 Для отправки посылки с подарком вашему тайному другу, запросите у него адрес доставки.
              p.mb-20 После того как тайный друг пришлет вам свой адреса, он появится в разделе 
                span.font-weight-bold «Исходящие поздравления» 
                | и вы сможете указать его при отправке посылки.
              p.mb-30 После отправки поссылки обязательно отметьте факт отправки в личном кабинете
              a.btn.btn-primary(href="#") Запросить адрес
  
    else if data && data.modifier == 'address-form'
      form.form(action="#", method="POST")
        .container
          .form__item.form-group
            label.form__label.p.xxs Начните вводить адрес населенного пункта
            input.input.form-control(type="text")
          .row
            .col-md-4
              .form__item.form-group
                label.form__label.p.xxs Улица
                input.input.form-control(type="text")
            .col-md-4
              .form__item.form-group
                label.form__label.p.xxs Дом
                input.input.form-control(type="text")
            .col-md-4
              .form__item.form-group
                label.form__label.p.xxs Квартира
                input.input.form-control(type="text")
          .row.mt-20
            .col-lg-4.offset-lg-4
              a.btn.btn-primary.w-100(href="#") Отправить
  
    else if data && data.modifier == 'gift-card'
      .modal__gift
        .modal__gift-content
          .modal__gift-card
            img(src="./img/modal-gift-card.jpg", alt)
        .modal__gift-footer
          .modal__gift-footer-left
            .p.xxs Вам прислал открытку<br> Игорь К. из г. Тольяти
          .modal__gift-footer-right
            a.btn.btn-primary.mr-0.mr-sm-15.mb-10.mb-sm-0(href="#") Сказать спасибо
            a.btn.btn-primary(href="#") Скачать открытку
            .modal__share.ml-0.ml-md-30.mt-20.mt-md-0
              |Поделиться
              +socials({
                items: ['vk', 'fb', 'tw']
              })
  
    else if data && data.modifier == 'gift-video'
      .modal__gift
        .modal__gift-content
          +video.video--dark.modal__video
        .modal__gift-footer
          .modal__gift-footer-left
            .p.xxs Вам прислал открытку<br> Игорь К. из г. Тольяти
          .modal__gift-footer-right
            a.btn.btn-primary(href="#") Сказать спасибо
            .modal__share.ml-0.ml-md-30.mt-20.mt-md-0
              |Поделиться
              +socials({
                items: ['vk', 'fb', 'tw']
              })
  
    else if data && data.modifier == 'gift-audio'
      .modal__gift
        .modal__gift-content
          +audio-card({
            photo: 'audio-card-2.jpg',
            name: 'Сергей Безруков',
            occupation: 'Актер',
            modifier: 'gift'
          }).audio-card--gift
        .modal__gift-footer
          .modal__gift-footer-left
            .p.xxs Вам прислал открытку<br> Игорь К. из г. Тольяти
          .modal__gift-footer-right
            a.btn.btn-primary(href="#") Сказать спасибо
            .modal__share.ml-0.ml-md-30.mt-20.mt-md-0
              |Поделиться
              +socials({
                items: ['vk', 'fb', 'tw']
              })

    else if data && data.modifier == 'gift-zoom'
      .modal__gift
        .modal__gift-content
          .modal__gift-zoom 
            img.modal__gift-zoom-icon.mb-30(src="./img/gift-zoom.svg", alt)
            p.mb-40 16 января в 21:00
            a.btn.btn-outline-primary.mb-25(href="#") Скопировать ссылку
            a.btn.btn-primary(href="#") Подтвердить встречу
        .modal__gift-footer
          .modal__gift-footer-left
            .p.xxs Вас приглашает на видеовстречу в Zoom Игорь из г. Тольяти
          .modal__gift-footer-right
            .modal__share.ml-0.ml-md-30.mt-20.mt-md-0
              |Поделиться
              +socials({
                items: ['vk', 'fb', 'tw']
              })
