.modal {
  padding: 32px;
  display: none;
  min-width: 920px;
  max-width: 920px;

  @include media-breakpoint-down(md) {
    min-width: 100%;
    max-width: 100%;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    display: block;
    width: 32px;
    height: 32px;
    opacity: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0849609' y='0.0852051' width='31.9148' height='31.9148' fill='%23FF9140'/%3E%3Cpath d='M8 8L24 24M24 8L8 24' stroke='black'/%3E%3C/svg%3E");

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  .container {
    padding: 0;
  }

  &__back-btn {
    margin-top: 8px;
    margin-right: 24px;
    display: block;
    width: 17px;
    min-width: 17px;
    height: 18px;
    min-height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 9.14819H1M1 9.14819L9 1.14819M1 9.14819L9 17.1482' stroke='black'/%3E%3C/svg%3E");

    @include media-breakpoint-down(sm) {
      margin-top: 1px;
    }
  }

  &__header {
    margin-bottom: 33px;
    display: flex;
  }

  &__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__card-preview {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 80.4%;
    font-weight: bold;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &:before {
      margin-right: 12px;
      width: 26px;
      height: 27px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.0611 12.6306C25.2034 16.799 25.3136 20.1458 25.4375 23.4879C25.488 24.7733 24.3633 26.0633 22.8116 26.3663C21.9784 26.5544 21.127 26.6498 20.2729 26.651C17.2934 26.5637 14.3048 26.4627 11.3391 26.247C9.2457 26.0955 7.16605 25.7879 5.091 25.4849C4.18546 25.3516 3.30309 25.092 2.46964 24.7136C1.90105 24.499 1.41452 24.1107 1.07912 23.6039C0.743713 23.0971 0.576485 22.4975 0.601172 21.8903C0.53231 17.1388 0.284405 12.3873 0.14209 7.63576C0.158642 6.36524 0.241389 5.09646 0.389995 3.83455C0.45238 2.98987 0.845714 2.20397 1.48447 1.64775C2.12322 1.09153 2.95574 0.80996 3.80098 0.864289C7.67104 1.02038 11.5457 1.10301 15.4112 1.32337C18.1657 1.47946 20.9202 1.49324 23.5691 2.4619C24.8729 2.92098 25.0795 3.23775 25.0657 4.70223C25.0427 7.61281 25.0611 10.5326 25.0611 12.6306ZM23.1146 14.701C23.1146 11.2304 23.1467 8.90282 23.1146 6.57068C23.0516 5.85381 22.9319 5.14307 22.7565 4.44513C22.628 3.71519 22.201 3.42138 21.4573 3.39384C19.9469 3.34334 18.4411 3.13675 16.9307 3.13216C13.2581 3.13216 9.58542 2.34253 5.8439 3.07248C3.7413 3.48106 2.54309 4.8124 2.69918 6.93796C2.86904 9.23337 2.95168 11.5288 3.05267 13.8242C3.17663 16.5466 3.25926 19.2735 3.3924 21.9913C3.38812 22.2222 3.42999 22.4517 3.51557 22.6663C3.60115 22.8809 3.72871 23.0762 3.89077 23.2408C4.05282 23.4054 4.24611 23.536 4.45931 23.625C4.67251 23.7139 4.90132 23.7594 5.13232 23.7587C9.75528 23.9975 14.3736 24.2591 18.992 24.4749C19.7749 24.4937 20.5574 24.4229 21.3242 24.2637C22.2423 24.0893 22.6739 23.4971 22.7014 22.5192C22.8254 19.5306 23.0136 16.5511 23.1146 14.701Z' fill='%23FF9140'/%3E%3Cpath d='M16.0903 9.86242C14.6396 10.2251 14.0015 10.753 12.1376 11.3912C11.7979 11.5059 11.5224 11.5932 11.3709 11.6391C11.919 11.1862 12.4431 10.705 12.941 10.1975C14.2218 8.89375 14.9334 8.15005 14.9242 7.20893C14.909 6.73893 14.736 6.28774 14.433 5.92808C14.2436 5.71526 14.0138 5.54233 13.7568 5.41936C13.4998 5.2964 13.2209 5.22587 12.9364 5.21191C11.7428 5.23946 10.5997 6.75443 10.2783 8.10413C9.79627 10.1057 11.1184 12.3323 10.6639 12.0293C9.84722 11.4916 8.91987 11.1449 7.95076 11.0147C7.47143 10.9196 6.97722 10.929 6.50185 11.0423C6.02649 11.1556 5.58116 11.3701 5.19626 11.6712C4.85427 12.0139 4.63303 12.4586 4.56595 12.9381C4.49887 13.4176 4.58959 13.9059 4.82441 14.3293C4.95754 14.6001 5.46712 15.6285 6.24756 15.679C6.81223 15.7157 7.16573 15.2199 8.18948 14.3339C8.86887 13.744 9.58998 13.2039 10.3472 12.7179C8.59807 14.3844 6.3807 17.0057 6.30724 19.4848C6.29098 19.9639 6.34984 20.4425 6.4817 20.9034C6.65153 21.422 6.92135 21.9024 7.27591 22.3173C7.03718 21.6838 6.96373 21.3303 7.07391 21.266C7.18409 21.2018 7.65236 21.6471 7.65236 21.6471C7.38245 20.7046 7.34309 19.7111 7.53758 18.7503C7.76103 17.6332 8.17903 16.5641 8.77252 15.5918C9.10591 15.0755 9.47889 14.5859 9.88809 14.1273C10.1299 13.873 10.351 13.5997 10.5492 13.3101C10.8154 12.8511 10.8751 12.5435 11.2148 12.3552C11.3724 12.2699 11.55 12.2287 11.729 12.2359C12.4589 12.2359 13.0741 11.9053 14.2769 11.561C15.3881 11.2438 16.5248 11.0242 17.6741 10.9045C19.0138 10.7964 20.3622 10.9033 21.6681 11.2213L20.4608 10.3031C20.7325 10.2923 21.0027 10.2585 21.2687 10.2021C21.4957 10.153 21.7184 10.0854 21.9344 10.0001C20.4571 9.57848 18.9118 9.44906 17.3849 9.61911C16.9481 9.66911 16.5154 9.75043 16.0903 9.86242ZM9.9294 12.3415C9.9294 12.5251 9.47032 12.5802 8.79088 12.9796C7.41363 13.7646 7.28509 14.692 6.57351 14.6966C5.86193 14.7012 5.47171 13.8702 5.39826 13.7279C5.26972 13.4846 4.93918 12.9015 5.24217 12.4103C5.38759 12.2033 5.57534 12.0295 5.79299 11.9005C6.01064 11.7715 6.25321 11.6902 6.50465 11.662C6.9917 11.6106 7.48408 11.6527 7.95535 11.786C9.2821 12.0477 9.92481 12.0982 9.9294 12.3415ZM11.0587 11.2626C10.5997 11.1249 11.0817 8.86621 11.3985 7.88836C11.5192 7.5145 11.7075 7.16596 11.954 6.86002C12.1476 6.55354 12.4411 6.32329 12.7849 6.20813C12.9772 6.15732 13.1796 6.15905 13.371 6.21316C13.5624 6.26726 13.7357 6.37174 13.8729 6.51571C13.9867 6.6563 14.0692 6.81946 14.1151 6.99438C14.161 7.16929 14.1692 7.35195 14.1392 7.53028C14.0566 8.23267 13.5516 8.53567 12.5691 9.61451C11.4352 10.8357 11.2791 11.3269 11.0587 11.2626Z' fill='%23FF9140'/%3E%3C/svg%3E");
    }
  }

  &__card-footer-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .btn-primary {
      padding: 16.68px 20px;
      min-width: 262px;

      &:first-of-type {
        margin-right: 22px;

        @include media-breakpoint-down(sm) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .btn-primary {
      padding: 16.68px 20px;
      min-width: 262px;
    }
  }

  &__gift-content {
    margin-bottom: 40px;
  }

  &__gift-card {
    text-align: center;
  }

  &__gift-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__gift-footer-left {
    margin-right: 20px;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__gift-footer-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-flow: row wrap;
      justify-content: center;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    .btn-primary {
      padding: 16.68px 20px;
      min-width: 214px;
    }
  }

  &__share {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    color: $black;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: center;
    }

    .socials {
      margin-left: 20px;
    }

    //    &:after {
    //      margin-left: 15px;
    //      display: block;
    //      width: 22px;
    //      height: 23px;
    //      content: '';
    //      background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M20.3816 3.71703C20.3816 5.36243 19.0479 6.6963 17.4025 6.6963C15.757 6.6963 14.4233 5.36243 14.4233 3.71703C14.4233 2.07179 15.757 0.737915 17.4025 0.737915C19.0479 0.737915 20.3816 2.07179 20.3816 3.71703Z' fill='black'/%3E%3Cpath d='M17.4025 7.3838C15.3802 7.3838 13.7358 5.73924 13.7358 3.71703C13.7358 1.69498 15.3802 0.050415 17.4025 0.050415C19.4247 0.050415 21.0691 1.69498 21.0691 3.71703C21.0691 5.73924 19.4247 7.3838 17.4025 7.3838ZM17.4025 1.42542C16.1384 1.42542 15.1108 2.45398 15.1108 3.71703C15.1108 4.98024 16.1384 6.0088 17.4025 6.0088C18.6665 6.0088 19.6941 4.98024 19.6941 3.71703C19.6941 2.45398 18.6665 1.42542 17.4025 1.42542Z' fill='black'/%3E%3Cpath d='M20.3816 18.3838C20.3816 20.0291 19.0479 21.3629 17.4025 21.3629C15.757 21.3629 14.4233 20.0291 14.4233 18.3838C14.4233 16.7384 15.757 15.4045 17.4025 15.4045C19.0479 15.4045 20.3816 16.7384 20.3816 18.3838Z' fill='black'/%3E%3Cpath d='M17.4025 22.0504C15.3802 22.0504 13.7358 20.4059 13.7358 18.3838C13.7358 16.3616 15.3802 14.717 17.4025 14.717C19.4247 14.717 21.0691 16.3616 21.0691 18.3838C21.0691 20.4059 19.4247 22.0504 17.4025 22.0504ZM17.4025 16.092C16.1384 16.092 15.1108 17.1206 15.1108 18.3838C15.1108 19.6469 16.1384 20.6754 17.4025 20.6754C18.6665 20.6754 19.6941 19.6469 19.6941 18.3838C19.6941 17.1206 18.6665 16.092 17.4025 16.092Z' fill='black'/%3E%3Cpath d='M7.54823 11.0504C7.54823 12.6958 6.21436 14.0295 4.56895 14.0295C2.92372 14.0295 1.58984 12.6958 1.58984 11.0504C1.58984 9.405 2.92372 8.07129 4.56895 8.07129C6.21436 8.07129 7.54823 9.405 7.54823 11.0504Z' fill='black'/%3E%3Cpath d='M4.56895 14.717C2.54691 14.717 0.902344 13.0726 0.902344 11.0504C0.902344 9.02818 2.54691 7.38379 4.56895 7.38379C6.59117 7.38379 8.23573 9.02818 8.23573 11.0504C8.23573 13.0726 6.59117 14.717 4.56895 14.717ZM4.56895 8.75879C3.3049 8.75879 2.27734 9.78719 2.27734 11.0504C2.27734 12.3136 3.3049 13.342 4.56895 13.342C5.83318 13.342 6.86073 12.3136 6.86073 11.0504C6.86073 9.78719 5.83318 8.75879 4.56895 8.75879Z' fill='black'/%3E%3Cpath d='M6.73301 10.6105C6.41393 10.6105 6.10409 10.4445 5.9354 10.1476C5.68514 9.70854 5.83923 9.14843 6.27831 8.89717L14.7839 4.04808C15.223 3.79597 15.7831 3.95005 16.0344 4.39082C16.2847 4.82991 16.1306 5.39001 15.6915 5.64128L7.18569 10.4904C7.04269 10.5719 6.88693 10.6105 6.73301 10.6105Z' fill='black'/%3E%3Cpath d='M15.2378 18.173C15.0837 18.173 14.928 18.1344 14.785 18.0528L6.27916 13.2037C5.84008 12.9535 5.68616 12.3934 5.93642 11.9533C6.18567 11.5133 6.74662 11.3584 7.18671 11.6105L15.6925 16.4596C16.1316 16.7099 16.2855 17.27 16.0352 17.7101C15.8657 18.007 15.5559 18.173 15.2378 18.173Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='22' height='22' fill='white' transform='translate(0 0.050415)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    //    }
  }

  &__gift-zoom {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    .btn {
      padding: 16.68px 20px;
      min-width: 262px;
    }
  }

  &__video {
    padding-top: 56.31%;
  }
}
