@font-face {
  font-family: 'Geometria';
  src: url('Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
    url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('Geometria.eot');
  src: local('Geometria'), url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Forte_VR';
  src: url('../fonts/subset-ForteVR.woff2') format('woff2'),
    url('../fonts/subset-ForteVR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Black Diamond';
  src: url('BlackDiamond.eot');
  src: local('Black Diamond'), local('BlackDiamond'),
    url('../fonts/BlackDiamond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BlackDiamond.woff2') format('woff2'),
    url('../fonts/BlackDiamond.woff') format('woff'),
    url('../fonts/BlackDiamond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
