h1,
.h1 {
  font-family: $font-family-serif;
  font-size: 60px;
  line-height: .76;

  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 1;
  }
}

h2,
.h2 {
  font-family: $font-family-serif;
  font-size: 50px;
  line-height: 1;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-family: $font-family-serif;
  font-size: 40px;
  line-height: .92;

  @include media-breakpoint-down(lg) {
    font-size: 28px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-family: $font-family-serif;
  font-size: 30px;
  line-height: 1;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-family: $font-family-serif;
  font-size: 24px;
  line-height: 1.24;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

h6,
.h6 {
}

p,
.p {
  font-size: 20px;
  line-height: 1.3;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }

  &.lg {
    font-size: 24px;
    line-height: 1.3;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &.sm {
    font-size: 16px;
    line-height: 1.3;
  }

  &.xs {
    font-size: 15px;
    line-height: 1.5;
  }

  &.xxs {
    font-size: 14px;
    line-height: 1;
  }

  &.xxxs {
    font-size: 12px;
    line-height: 1;
  }
}

.transparent {
  opacity: .5;
}

.text-underline {
  text-decoration: underline;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

ul {

  li {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.3;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}

ol {

  li {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.3;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  ul {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
