.audio-card {
  margin-bottom: 16px;
  display: flex;
  color: #fff;
  background: #252525;
  border-radius: 20px;

  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    align-self: stretch;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__picture {
    position: relative;
    overflow: hidden;
    width: 125px;
    flex-shrink: 0;
    border-radius: 20px;
    align-self: stretch;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      height: 130px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 14px 27px 19px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #fff;
  }

  &__occupation {
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
  }

  &__right {
  }

  &__btn {

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &--gift {
    min-height: 472px;

    @include media-breakpoint-down(md) {
      min-height: 0;
    }

    .audio-card__wrapper {
      align-items: stretch;
    }

    .audio-card__picture {
      min-width: 408px;

      @include media-breakpoint-down(md) {
        min-width: 0;
      }
    }

    .audio-card__content {
      padding: 32px 36px 40px;
      align-items: stretch;

      @include media-breakpoint-down(md) {
        padding: 14px 27px 19px;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    .audio-card__content-left {
      display: flex;
      flex-direction: column;
    }

    .audio-card__name {
      margin-bottom: 8px;
      font-size: 30px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        font-size: 20px;
      }
    }

    .audio-card__occupation {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 1.3;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    .audio {
      margin-top: auto;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }
}
