mixin audio-card(data)
  .audio-card&attributes(attributes)
    .audio-card__wrapper
      .audio-card__picture
        img(src="./img/" + data.photo, alt)
      .audio-card__content
        .audio-card__content-left
          .audio-card__name= data.name
          .audio-card__occupation= data.occupation
          +audio
        if data && data.modifier != 'gift'
          .audio-card__right
            a.btn.btn-primary.btn-primary--3d.audio-card__btn(href="#") Отправить
