mixin rules(data)
  .rules&attributes(attributes)
    .row
      +rules__item({
        icon: 'rules-1.svg',
        title: 'Регистрируйся на сайте'
      }).rules__item--arrow-top
      +rules__item({
        icon: 'rules-2.svg',
        title: 'Заполни информацию о собе'
      }).rules__item--arrow-bottom
      +rules__item({
        icon: 'rules-3.svg',
        title: 'Дождись распределения между участниками'
      }).rules__item--arrow-last
      +rules__item({
        icon: 'rules-4.svg',
        title: 'Подари поздравление своему  тайному другу'
      })
    
    
    
mixin rules__item(data)
  .col-sm-6.col-lg-3.rules__item&attributes(attributes)
    .rules__item-icon(style="background-image: url(./img/" + data.icon + ');')
    p.sm.font-weight-bold.mb-0= data.title
