.rules {
  margin: 88px 0;

  @include media-breakpoint-down(sm) {
    margin: 40px 0;
  }

  &__item {
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    &--arrow-top {

      &:after {
        position: absolute;
        top: -12px;
        right: -28%;
        width: 180px;
        height: 45px;
        content: '';
        background: url(../img/arrow1.svg) center no-repeat;
        background-size: cover;

        @include media-breakpoint-down(lg) {
          top: -60px;
          right: -26%;
        }

        @include media-breakpoint-down(md) {
          top: 0;
          right: -22%;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      p {
        max-width: 120px;
      }
    }

    &--arrow-bottom {

      &:after {
        position: absolute;
        right: -24%;
        bottom: -45px;
        width: 180px;
        height: 45px;
        content: '';
        background: url(../img/arrow1.svg) center no-repeat;
        background-size: cover;
        transform: rotateX(180deg);

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .rules__item-icon {
        background-position: center -22px;
      }
    }

    &--arrow-last {

      &:after {
        position: absolute;
        top: -12px;
        right: -24%;
        width: 180px;
        height: 45px;
        content: '';
        background: url(../img/arrow1.svg) center no-repeat;
        background-size: cover;

        @include media-breakpoint-down(lg) {
          top: -60px;
          right: -26%;
        }

        @include media-breakpoint-down(md) {
          top: 0;
          right: -22%;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    &-icon {
      margin: auto;
      width: 180px;
      height: 180px;
      background-repeat: no-repeat;
    }

    p {
      margin: auto;
      margin-top: -42px;
      width: 100%;
      max-width: 180px;
      text-align: center;
    }
  }
}
