.slider {
  margin-right: -16px;
  margin-left: -32px;
  //  padding-left: 16px;
  width: calc(100% + 48px);
  opacity: 1;
  transition: opacity $transition-base;

  &:not(.slick-initialized) {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-list {
    margin: 0 -16px;
    padding: 0 20% 0 27px;
  }

  .slick-slide {
    margin: 0 14px;
    display: flex;
    height: auto;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: calc(50% - 30px);
    width: 32px;
    height: 33px;
    text-indent: -9999px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16.8784' r='16' fill='%23FF9140'/%3E%3Cpath d='M12.5024 9.88354L19.4974 16.8785L12.5024 23.8735' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    border: none;

    &.slick-disabled {
      display: none !important;
    }
  }

  .slick-prev {
    left: 32px;
    transform: rotate(-180deg);
  }

  .slick-next {
    right: 16px;
  }
}
