.type {
  padding-bottom: 28px;
  display: flex;
  height: 248px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $dark;
  background: #fff3eb;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    margin-bottom: -7px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  p {
    width: 100%;
    max-width: 160px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
  }
}
