.about {
  position: relative;
  margin: 100px 0;
  padding: 83px 250px 56px 121px;
  background: url(../img/gift-bgn.svg) center no-repeat;
  background-size: 100% 100%;

  @include media-breakpoint-down(lg) {
    padding-right: 30px;
    padding-left: 80px;
    padding-bottom: 240px;
    background: $primary2;
    border-radius: 30px 20px 40px 120px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin: 40px 0;
    padding-bottom: 200px;
  }

  &__content {
    width: 100%;
    max-width: 816px;

    p {
      line-height: 26px;
    }

    br {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 150px;
    width: 180px;
    height: 200px;
    background: url(../img/gift-vector.svg) center no-repeat;

    @include transition;

    @include media-breakpoint-down(lg) {
      top: auto;
      right: 0;
      bottom: 39px;
      left: 0;
      margin: auto;
    }

    @include media-breakpoint-down(xs) {
      bottom: 15px;
      transform: scale(.7);
    }

    &:hover {
      opacity: .7;
    }
  }
}
