mixin about(data)
  .about&attributes(attributes)
    .row
      .col-lg-10
        .about__content
          p 
            | В Новый год - чуда ждут все, в не зависимости от возраста и места жительства. Подарить его тем, кто в нем особенно нуждается просто - 
            br 
            | стань участником акции 
            a.font-weight-bold(href="https://xn--2020-f4dsa7cb5cl7h.xn--p1ai/", target="_blank") #МыВместе
    a.about__icon(href="https://xn--2020-f4dsa7cb5cl7h.xn--p1ai/", target="_blank")
