mixin faq(data)
  .faq.pb-10.pb-md-30.pt-50.pt-md-100.mt-md-20&attributes(attributes)
    .container
      h2.text-center.mb-md-60 Ответы на вопросы
      .row
        .col-xl-9
          +question({
            title: 'Как выбрать участника из своего города?'
          })
          +question({
            title: 'Зачем нужна информация в раздел «о себе»?'
          })
          +question({
            title: 'Как можно подарить подарок?'
          })
          +question({
            title: 'Как я узнаю адрес для доставки подарка?'
          })
          +question({
            title: 'Как узнать, что подарок доставлен адресату?'
          })
          +question({
            title: 'Как сделать, чтобы мое фото появилось на сайте?'
          })
          +question({
            title: 'Можно играть несколько раз?'
          })
          +question({
            title: 'Где узнавать актуальные новости об акции? '
          })
        .col-12
          hr
