
include ../blocks/front/front.pug
include ../blocks/header/header.pug
include ../blocks/rules/rules.pug
include ../blocks/video/video.pug
include ../blocks/about/about.pug
include ../blocks/stats/stats.pug
include ../blocks/map/map.pug
include ../blocks/gallery/gallery.pug
include ../blocks/faq/faq.pug
include ../blocks/question/question.pug
include ../blocks/footer/footer.pug
include ../blocks/enter/enter.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/socials/socials.pug
include ../blocks/select/select.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/user/user.pug
include ../blocks/modal/modal.pug
include ../blocks/gift/gift.pug
include ../blocks/card/card.pug
include ../blocks/audio/audio.pug
include ../blocks/audio-card/audio-card.pug
include ../blocks/type/type.pug
include ../blocks/slider/slider.pug
include ../blocks/info/info.pug