doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .wrapper
      block content
    +footer
    script(src="js/vendor.js")
    script(src="js/scripts.js")
