.input {
  padding: 0 30px;
  width: 100%;
  height: 55px;
  font-size: 14px;
  font-weight: normal;
  color: $black;
  background: transparent;
  border: 1px solid #313237;
  border-radius: 150px;
  transition: $transition-base;

  &:focus {
    color: $black;
    background-color: $white;
    border-color: #313237;
    outline: 0;
    box-shadow: none;
  }

  &--textarea {
    padding: 20px;
    height: 205px !important;
    resize: none;
    border-radius: 20px;
  }

  &--textarea-default {
    height: 150px !important;
  }

  &--short {
    max-width: 150px;
  }
}
