.gallery {

  &__item {
    position: relative;
    margin: 0 20px;
    overflow: hidden;
    width: 100%;
    max-width: 16.67vw;
    height: 16.67vw;

    @include media-breakpoint-down(lg) {
      max-width: 30vw;
      height: 25vw;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 10px;
      max-width: 48vw;
      height: 44vw;
    }

    @include media-breakpoint-down(xs) {
      max-width: 100vw;
      height: 80vw;
    }

    &:hover {

      .gallery__picture {
        transform: scale(1.1);
      }
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }
}
