mixin gallery(data)
  .gallery&attributes(attributes)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)          
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
    a.gallery__item(href="./img/gallery-1.jpg", data-fancybox)
      img.gallery__picture(src="./img/gallery-1.jpg", alt)
