.socials {
  display: flex;
  align-items: center;

  &__item {
    display: block;
    width: 40px;
    height: 41px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--fb {
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20.448' r='20' fill='%234E6297'/%3E%3Cpath d='M29 14.2666C29 12.7692 27.6788 11.448 26.1813 11.448H14.8186C13.3212 11.448 12 12.7692 12 14.2666V25.6293C12 27.1267 13.3212 28.448 14.8186 28.448H20.544V22.0179H18.4301V19.1993H20.544V18.0542C20.544 16.1164 21.9534 14.4428 23.715 14.4428H26.0052V17.2615H23.715C23.4508 17.2615 23.1865 17.5257 23.1865 18.0542V19.1993H26.0052V22.0179H23.1865V28.448H26.1813C27.6788 28.448 29 27.1267 29 25.6293V14.2666Z' fill='white'/%3E%3C/svg%3E");
    }

    &--vk {
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20.448' r='20' fill='%237294C7'/%3E%3Cpath d='M29.8063 25.5633C29.8063 25.4803 29.7232 25.4803 29.7232 25.3973C29.3911 24.7331 28.6439 23.9029 27.6477 22.9896C27.1495 22.5745 26.9004 22.2424 26.7344 22.0764C26.4853 21.7443 26.4853 21.4952 26.5684 21.1631C26.6514 20.914 26.9835 20.4989 27.5646 19.7517C27.8967 19.3366 28.0628 19.0875 28.3118 18.8385C29.5572 17.178 30.1383 16.0987 29.9723 15.6006L29.8893 15.5175C29.8063 15.4345 29.7232 15.3515 29.5572 15.3515C29.3911 15.2685 29.1421 15.2685 28.893 15.3515H25.7381C25.6551 15.3515 25.6551 15.3515 25.4891 15.3515C25.406 15.3515 25.323 15.3515 25.323 15.3515H25.24H25.157L25.0739 15.4345C24.9909 15.5175 24.9909 15.5175 24.9909 15.6006C24.6588 16.5138 24.2437 17.261 23.8286 18.0912C23.5795 18.5064 23.3305 18.9215 23.0814 19.2536C22.8323 19.5857 22.6663 19.8347 22.5002 20.0008C22.3342 20.1668 22.1681 20.2498 22.0851 20.4159C22.0021 20.4989 21.8361 20.5819 21.8361 20.4989C21.753 20.4989 21.67 20.4989 21.67 20.4159C21.587 20.3329 21.504 20.2498 21.4209 20.1668C21.3379 20.0838 21.3379 19.9178 21.2549 19.7517C21.2549 19.5857 21.2549 19.4196 21.2549 19.3366C21.2549 19.2536 21.2549 19.0045 21.2549 18.8385C21.2549 18.5894 21.2549 18.4233 21.2549 18.3403C21.2549 18.0913 21.2549 17.7592 21.2549 17.4271C21.2549 17.095 21.2549 16.8459 21.2549 16.6799C21.2549 16.5138 21.2549 16.2648 21.2549 16.0987C21.2549 15.8496 21.2549 15.6836 21.2549 15.6006C21.2549 15.5175 21.1719 15.3515 21.1719 15.2685C21.0889 15.1855 21.0058 15.1024 20.9228 15.0194C20.8398 14.9364 20.6737 14.9364 20.5907 14.8534C20.1756 14.7703 19.6775 14.6873 19.0963 14.6873C17.7679 14.6873 16.8547 14.7703 16.5226 14.9364C16.3565 15.0194 16.1905 15.1024 16.1075 15.2685C15.9414 15.4345 15.9414 15.5175 16.0245 15.5175C16.4396 15.6006 16.7717 15.7666 16.9377 16.0157L17.0207 16.1817C17.1038 16.2648 17.1037 16.4308 17.1868 16.6799C17.2698 16.9289 17.2698 17.178 17.2698 17.5101C17.2698 18.0082 17.2698 18.5064 17.2698 18.8385C17.2698 19.2536 17.1868 19.5026 17.1868 19.7517C17.1868 20.0008 17.1038 20.1668 17.0207 20.2499C16.9377 20.4159 16.9377 20.4989 16.8547 20.4989C16.8547 20.4989 16.8547 20.5819 16.7717 20.5819C16.6886 20.5819 16.6056 20.665 16.4396 20.665C16.3565 20.665 16.1905 20.5819 16.1075 20.4989C15.9414 20.4159 15.7754 20.2499 15.6924 20.0838C15.5263 19.9178 15.3603 19.6687 15.1942 19.3366C15.0282 19.0045 14.7791 18.6724 14.6131 18.1743L14.447 17.8422C14.364 17.6761 14.198 17.344 14.0319 16.9289C13.8659 16.5138 13.6998 16.1817 13.5338 15.7666C13.4507 15.6006 13.3677 15.5175 13.2847 15.4345H13.2017C13.2017 15.4345 13.1186 15.3515 13.0356 15.3515C12.9526 15.3515 12.8696 15.2685 12.7866 15.2685H9.79773C9.46564 15.2685 9.2996 15.3515 9.21657 15.4345L9.13354 15.5175C9.13354 15.5175 9.13354 15.6006 9.13354 15.6836C9.13354 15.7666 9.13355 15.8496 9.21657 16.0157C9.63169 17.012 10.1298 18.0082 10.628 19.0045C11.1261 19.9178 11.6242 20.748 11.9563 21.3292C12.3714 21.9103 12.7035 22.4915 13.1186 22.9896C13.5338 23.4877 13.7828 23.8198 13.8658 23.9859C14.0319 24.1519 14.1149 24.2349 14.1979 24.318L14.447 24.567C14.6131 24.7331 14.8621 24.9822 15.1942 25.2312C15.5263 25.4803 15.9414 25.7294 16.3565 25.9784C16.7717 26.2275 17.2698 26.3936 17.7679 26.5596C18.3491 26.7256 18.8472 26.8087 19.3454 26.7256H20.5907C20.8398 26.7256 21.0058 26.6426 21.1719 26.4766L21.2549 26.3935C21.2549 26.3105 21.3379 26.3105 21.3379 26.2275C21.3379 26.1445 21.3379 26.0615 21.3379 25.8954C21.3379 25.5633 21.3379 25.3143 21.4209 25.0652C21.504 24.8161 21.504 24.6501 21.587 24.484C21.67 24.318 21.753 24.2349 21.8361 24.1519C21.9191 24.0689 22.0021 23.9859 22.0021 23.9859H22.0851C22.2512 23.9029 22.5002 23.9859 22.6663 24.1519C22.9154 24.318 23.1644 24.567 23.3305 24.8161C23.4965 25.0652 23.7456 25.3142 24.0777 25.6463C24.4098 25.9784 24.6588 26.2275 24.8249 26.3105L25.0739 26.4766C25.24 26.5596 25.406 26.6426 25.6551 26.7256C25.9042 26.8087 26.0702 26.8087 26.2363 26.8087L29.0591 26.7256C29.3081 26.7256 29.5572 26.6426 29.7232 26.5596C29.8893 26.4766 29.9723 26.3935 29.9723 26.2275C29.9723 26.1445 29.9723 25.9784 29.9723 25.8954C29.8062 25.7294 29.8063 25.6463 29.8063 25.5633Z' fill='white'/%3E%3C/svg%3E");
    }

    &--tw {
      background: url(../img/tw.svg) no-repeat center;
      background-size: contain;
    }
  }
}
