.info {
  position: relative;

  .slick-slide {

    &:focus {
      outline: none;
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -32px;
    width: 32px;
    height: 64px;
    font-size: 0;
    background: url(../img/arrow.svg) no-repeat center;
    background-size: contain;

    &.slick-prev {
      left: 0;
      transform: rotate(180deg);
    }

    &.slick-next {
      right: 0;
    }
  }

  .slick-dots {
    margin-top: 20px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;

      &.slick-active {

        button {
          background: $primary;
        }
      }

      & + li {
        margin-left: 20px;
      }

      button {
        width: 15px;
        height: 15px;
        font-size: 0;
        background: transparent;
        border: 1px solid $primary;
        border-radius: 50%;
      }
    }
  }
}
