mixin info(data)
  .info&attributes(attributes)
    .info__item
      .row
        .col-xl-8.col-lg-10.mx-auto
          .info__item-content
            p.font-weight-bold Как стать участником и что делать дальше?
            p Чтобы стать участником, достаточно зарегистрироваться на сайте, заполнив все необходимые поля в заявке в личном кабинете и не забыв указать контактные данные. На основании представленных данных – места жительства, интересов и увлечений – система выберет для тебя наиболее подходящего «тайного друга», получателя подарка.
            p Кроме того, пункт «интересы и увлечения» поможет возможному «тайному Деду Морозу» выбрать действительно удачный подарок для тебя самого. 
            p При регистрации ты можешь определить наиболее удобную для тебя локацию получателя подарка – например, жителя твоего города, региона, или любого жителя страны, вне зависимости от места проживания. 
            p Там же необходимо будет и указать предпочтительный для тебя способ отправки подарка получателю - онлайн или оффлайн. Выбери один из видов онлайн-подарков, или одну из наших партнерских организаций для отправки оффлайн-подарка через нее. Для отправки оффлайн-подарка не забудь в личном кабинете запросить почтовый адрес у «тайного друга». 
            p Если «тайный Дед Мороз» прислал тебе подарок, не забудь поставить отметку об этом в личном кабинете. Аналогичная отметка придет от твоего «тайного друга», когда он получит твой подарок. После этого ты сможешь (по желанию) открыть ему свое имя. Кроме того, станет доступна возможность поделиться в соцсетях результатами участия в акции – обязательно ею воспользуйся!
    .info__item
      .row
        .col-xl-8.col-lg-10.mx-auto
          .info__item-content
            p.font-weight-bold Как подарить подарок? 
            p Предлагаем тебе на выбор два варианта
            ol
              li Отправить электронное поздравление. Для этого в своем личном кабинете ты можешь:
                ul
                  li создать свою поздравительную открытку по представленным шаблонам; 
                  li загрузить собственную видео-открытку. Снять видео ты можешь с помощью новогодних масок в нашем сообществе в инстаграме dobroinrussia (вставить активную ссылку);
                  li выбрать аудио-поздравление от известного человека.
              li Отравить личный подарок с помощью «Почты России» или любого другого сервиса доставки. Чтобы узнать почтовый адрес своего тайного друга, отправь ему запрос через свой личный кабинет.
    .info__item
      .row
        .col-xl-8.col-lg-10.mx-auto
          .info__item-content
            p.font-weight-bold Что делать, если мне не приходит поздравление?
            p В первую очередь, наберись терпения примерно на неделю – системе нужно немного времени на подбор «тайного Деда Мороза» для каждого зарегистрировавшегося участника, кроме того, часто сами «тайные дедушки» берут небольшую паузу для того, чтобы выбрать наилучший вариант поздравления для своих друзей. Но если и спустя семь дней после регистрации тебе не пришел онлайн-подарок, или в личном кабинете не появился запрос на адрес проживания для отправки оффлайн-подарка, тогда обязательно сообщи в техническую поддержку (вставить активную ссылку), мы поможем решить проблему.
    .info__item
      .row
        .col-xl-8.col-lg-10.mx-auto
          .info__item-content
            p.font-weight-bold Хочешь сделать больше? Включайся в благотворительную акцию «МыВместе»!
            p Спасибо за неравнодушие! 
            p В нынешний Новый год особенно важно помочь людям в сложной жизненной ситуации. На протяжении всех последних месяцев волонтеры проекта «МыВместе» покупали продукты и лекарства для пожилых людей и маломобильных граждан, доставляли еду медикам, проводили психологические и юридические консультации, сдавали кровь и работали в ковид-госпиталях.
            p Но сейчас, в предновогодние праздники, волонтерам нужна наша дополнительная поддержка, чтобы они смогли охватить всех нуждающихся в помощи. Переходи на сайт «МыВместе» (активная ссылка на сайт), выбирай вкладку меню «Помочь» и определи свой способ участия в общем деле.
            p Ты можешь внести пожертвование или купить продуктовый набор, который будет доставлен нуждающемуся гражданину. А можешь даже сам стать волонтером или бизнес-партнером проекта. В любом случае твой вклад поможет сделать новогодние праздники более светлыми и счастливыми!
