.footer {
  padding: 36px 0 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__left {

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }

  &__links {
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }
}
