mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .footer__left
          p.xxs По вопросам взаимодействия: 
            a.text-dark.font-weight-bold(href="mailto:help@dobro.ru") help@dobro.ru
          p.xxs Техническая поддержка: 
            a.text-dark.font-weight-bold(href="mailto:info@dobro.ru") info@dobro.ru
          p.xxs.mb-0 E-mail для СМИ: 
            a.text-dark.font-weight-bold(href="mailto:press@dobro.ru") press@dobro.ru
        .footer__right
          .footer__links
            p.xxxs.footer__link.mb-sm-0.mr-sm-50
              a(href="#") Публичная оферта
            p.xxxs.footer__link.mb-0
              a(href="#") Политика конфиденциальности
    +modal({
      modifier: 'type'
    })#modal-type
