.card {
  cursor: pointer;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__img {
    position: relative;
    padding-top: 129.13%;
    display: block;
    width: 100%;
    flex-grow: 1;

    img {
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      object-fit: cover;
      object-position: top center;
    }
  }

  .custom-radio {
    padding-left: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  .custom-radio .custom-control-label {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    line-height: 1;

    &:before {
      display: none;
    }

    &:after {
      position: relative;
      z-index: 2;
      top: 0;
      left: 0;
      margin-top: -27px;
      display: block;
      width: 53px;
      height: 53px;
      background-image: url("data:image/svg+xml,%3Csvg width='53' height='53' viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26.6499' cy='26.0484' r='25.5484' fill='white' stroke='%23FF9140'/%3E%3C/svg%3E");
      background-size: contain;
    }
  }

  .custom-control-input:checked {

    & ~ .custom-control-label .card__img:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      border: 5px solid $primary;
    }

    & ~ .custom-control-label:after {
      background-image: url("data:image/svg+xml,%3Csvg width='53' height='53' viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26.4131' cy='26.0484' r='24.0484' fill='white' stroke='%23FF9140' stroke-width='4'/%3E%3Cpath d='M14.4131 26.0483L22.4131 34.0483L38.4131 18.0483' stroke='black'/%3E%3C/svg%3E");
    }
  }
}
