mixin card(data)
  .card&attributes(attributes)
    .custom-control.custom-radio
      input.custom-control-input(type='radio', name="card", id=data.id)
      label.custom-control-label(for=data.id)
        span.card__img
          img(src="./img/" + data.picture + "" alt="")
