.enter {
  padding: 134px 0 76px;
  flex: 1;

  @include media-breakpoint-up(xl) {
    background: $primary url(../img/enter-bg.png) top center no-repeat;
  }

  @include media-breakpoint-down(lg) {
    min-height: inherit;
    background: $primary url(../img/enter-bg-mob.png) top center no-repeat;
    background-size: cover;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 104px;
  }

  &--signup {

    @include media-breakpoint-up(xl) {
      min-height: 1006px;
      background: $primary url(../img/enter-signup-bg.png) top center no-repeat;
    }

    @include media-breakpoint-down(lg) {
      min-height: inherit;
      background: $primary url(../img/enter-signup-bg-mob.png) top center no-repeat;
      background-size: cover;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 104px;
    }
  }

  &__header {
    margin-bottom: 44px;
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    a.h1 {
      margin-right: 54px;
      font-family: $font-family-serif;
      font-size: 60px;
      line-height: 76.4%;
      font-weight: normal;
      color: $black;
      transform: rotate(-.66deg);

      @include media-breakpoint-down(xs) {
        font-size: 40px;
      }
    }

    a.p {
      margin-top: 17px;
      font-size: 20px;
      line-height: 150%;
      font-weight: bold;
    }
  }
}
