extends ../templates/template.pug
block content
  .cabinet
    +header({
      modifier: 'logged-in',
      btnColor: 'orange'
    })
    .container.cabinet__container
      .row.cabinet__container-row
        .col-lg-4.cabinet__left
          .cabinet__left-top
            h1.mb-30.mb-md-50 Кабинет <br>Деда <br>Мороза
            .cabinet__sections
              a.p.font-weight-medium.text-dark(href="#") Исходящие поздравления
              a.p.font-weight-medium.text-white.text-underline(href="#") Входящие поздравления
              a.p.font-weight-medium.text-white.text-underline(href="#") Профиль
          .cabinet__left-bottom
            a.p.font-weight-medium.text-white.text-underline(href="#") Выйти
        .col-lg-8.cabinet__right
          p.lg.font-weight-bold.mb-20.mb-md-40 Пользователи, которых вы можете поздравить
          +user({
            picture: 'user-1.svg',
            address: 'г. Тольяти'
          })
          +user({
            picture: 'user-2.svg',
            address: 'г. Тольяти',
            modifier: 'sent'
          })
          +user({
            picture: 'user-3.svg',
            address: 'г. Тольяти',
            modifier: 'address'
          })
          +user({
            picture: 'user-4.svg',
            address: 'г. Тольятти, 115280, ул.Цурюпы д.15, кв.157',
            modifier: 'offline-sent'
          })
          .d-flex.justify-content-center
            a.btn.btn-outline-dark(href="#") Найти еще Тайного друга
