extends ../templates/template.pug
block content
  .cabinet.cabinet--in
    +header({
      modifier: 'logged-in',
      btnColor: 'orange'
    })
    .container.cabinet__container
      .row.cabinet__container-row
        .col-lg-4.cabinet__left
          .cabinet__left-top
            h1.mb-50 Кабинет <br>Деда <br>Мороза
            .cabinet__sections
              a.p.font-weight-medium.text-white.text-underline(href="#") Исходящие поздравления
              a.p.font-weight-medium.text-dark(href="#") Входящие поздравления
              a.p.font-weight-medium.text-white.text-underline(href="#") Профиль
          .cabinet__left-bottom
            a.p.font-weight-medium.text-white.text-underline(href="#") Выйти
        .col-lg-8.cabinet__right
          p.lg.font-weight-bold.mb-20.mb-lg-40 Подарки для меня
          +gift({
            picture: 'gift-1.png',
            title: 'Ваш тайный Дед Мороз отправил Вам поздравления',
          })
          +gift({
            picture: 'gift-2.png',
            title: 'Ваш тайный Дед Мороз отправил Вам поздравления',
          })
          +gift({
            picture: 'gift-3.png',
            title: 'Ваш тайный Дед Мороз запросил адрес, чтобы отправить Вам подарок',
            modifier: 'address'
          })
