extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="login.html", style="font-size: 20px;") Login
          li(style="list-style: none;")
            a.d-block.my-20(href="signup.html", style="font-size: 20px;") Signup
          li(style="list-style: none;")
            a.d-block.my-20(href="password.html", style="font-size: 20px;") Password
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet-out.html", style="font-size: 20px;") Cabinet Out
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet-in.html", style="font-size: 20px;") Cabinet In
          li(style="list-style: none;")
            a.d-block.my-20(href="modals.html", style="font-size: 20px;") Modals
