extends ../templates/template.pug
block content
  .enter
    +header({
      btnColor: 'orange'
    })
    .container
      .enter__wrapper
        .enter__header
          a.h1.mb-0(href="#") Вход
          a.p.font-weight-bold.text-white.text-underline.mb-0(href="#") Регистрация
        form.form(action="#", method="POST")
          .row
            .col-xl-3.col-lg-4.col-sm-6
              .form__item.form-group
                label.form__label(for="email") E-mail
                input.input.form-control(type="email" id="email" name="email")
              .form__item.form-group
                label.form__label(for="password") Пароль
                input.input.form-control(type="password" id="password" name="password")
          .form__footer
            button.btn.btn-primary.btn-primary--md.mr-sm-40.mb-sm-0.mb-20(type="submit") Войти
            a.p.xxs.text-underline.text-dark.mr-50(href="#") Забыли пароль?
            +socials({
              items: ['fb', 'vk']
            })
        .form__additional
          p.mb-0.mr-sm-25.mb-sm-0.mb-15 Впервый раз на сайте?
          a.p.text-white.font-weight-bold.text-underline(href="#") Зарегистрируйтесь
