extends ../templates/template.pug
block content
  +header.header--front
  +front
  .container
    .row
      .col-xl-6
        h2 Приглашаем тебя сыграть в игру «Тайный Дед Мороз», правила простые:
    +rules
    p.mb-40.mb-lg-100 Сроки проведения игры с 14 декабря 2020 по 10 января 2021 года. Встретим новый год вместе!
    h2.text-center.mb-30.mb-lg-55 Новогоднее поздравление Деда Мороза
    +video
    h2.mt-50.mt-lg-100.pt-lg-50.mb-30.mb-lg-65 Кратко об акции
    +info
    +about
    .row.mb-40.mb-lg-100
      .col-sm-4
        +stats({
          number: '8 560',
          title: 'Дедов Морозов'
        })
      .col-sm-4
        +stats({
          number: '7947',
          title: 'Полученных поздравлений'
        })
      .col-sm-4
        +stats({
          number: '589',
          title: 'Полученных подарков'
        })
    h2.text-center Деды морозы на карте
    +map
    .d-flex.justify-content-center.flex-wrap.mb-40.mb-lg-60
      a.h5.mr-20.mr-lg-40(href="#") #ПодариНовогоднееЧудо
      a.h5.mr-20.mr-lg-40(href="#") #Вместев2021
      a.h5(href="#") #ТайныйДедМороз
  +gallery
  +faq
