extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Modals
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-type", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Тип подарка
            +modal({
              modifier: 'type'
            })#modal-type
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-card", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Открытка
            +modal({
              modifier: 'card'
            })#modal-card
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-video", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Видео
            +modal({
              modifier: 'video'
            })#modal-video
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-audio", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Аудио
            +modal({
              modifier: 'audio'
            })#modal-audio
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-zoom", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Zoom
            +modal({
              modifier: 'zoom'
            })#modal-zoom
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-sent", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Sent
            +modal({
              modifier: 'sent'
            })#modal-sent
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-address", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Address
            +modal({
              modifier: 'address'
            })#modal-address
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-address-form", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Address Form
            +modal({
              modifier: 'address-form'
            })#modal-address-form
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-gift-card", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Gift Card
            +modal({
              modifier: 'gift-card'
            })#modal-gift-card
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-gift-video", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Gift Video
            +modal({
              modifier: 'gift-video'
            })#modal-gift-video
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-gift-audio", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Gift Audio
            +modal({
              modifier: 'gift-audio'
            })#modal-gift-audio
          li(style="list-style: none;")
            a.d-block.my-20(href="#modal-gift-zoom", style="font-size: 20px;", data-fancybox data-options='{"touch" : false}') Gift Zoom
            +modal({
              modifier: 'gift-zoom'
            })#modal-gift-zoom
