extends ../templates/template.pug
block content
  .enter
    +header({
      btnColor: 'orange'
    })
    .container
      .enter__wrapper
        .enter__header
          a.h1.mb-0(href="#") Восстановление пароля
        form.form(action="#", method="POST")
          .row
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="email") E-mail
                input.input.form-control(type="email" id="email" name="email")
          p.mb-30.mt-10.mb-xl-45 На него мы вышлем инструкции по восстановлению пароля
          .form__footer.mb-0
            button.btn.btn-primary.btn-primary--md.mr-sm-50.mb-15.mb-sm-0(type="submit") Восстановить
            a.p.text-white.font-weight-bold.text-underline(href="#") Войти
