extends ../templates/template.pug
block content
  .enter.enter--signup
    +header({
      btnColor: 'orange'
    })
    .container
      .enter__wrapper
        .enter__header
          a.h1.mb-0(href="#") Регистрация
          a.p.font-weight-bold.text-white.text-underline(href="#") Вход
        form.form(action="#" method="POST")
          .form__signup-socials
            p.mb-0.mr-30.mb-15.mb-sm-0 Зарегистрироваться с помощью:
            +socials({
              items: ['fb', 'vk']
            })
          .row
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="name") Имя
                input.input.form-control(type="text" id="name" name="name")
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="last-name") Фамилия
                input.input.form-control(type="text" id="last-name" name="last-name")
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="middle-name") Отчество
                input.input.form-control(type="text" id="middle-name" name="middle-name")
          .row
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="email") E-mail
                input.input.form-control(type="email" id="email" name="email")
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="phone") Телефон
                input.input.form-control(type="tel" id="phone" name="phone")
          .row
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="password") Пароль
                input.input.form-control(type="password" id="password" name="password")
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs(for="repeat-password") Повторите пароль
                input.input.form-control(type="password" id="repeat-password" name="repeat-password")
          .row
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs Регион проживания
                +select({
                  default: 'Выберите'
                })
            .col-xl-3.col-md-4
              .form__item.form-group
                label.form__label.p.xxs Выбрать Географию участия
                +select({
                  default: 'Россия'
                })
          .row
            .col-xl-6.col-md-8
              .form__item.form-group
                label.form__label.p.xxs(for="interests") Интересы
                textarea.input.input--textarea.input--textarea-default.form-control(type="text" id="interests" name="interests")
          .custom-control.custom-checkbox.mt-5.mb-40
            input#customCheck1.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck1') Буду отправлять подарки посылкой
          .row.align-items-center
            .col-xl-3.col-lg-4
              button.btn.btn-primary.btn-primary--md.px-10.w-100(type="submit") Зарегистрироваться
            .col-xl-4.mt-20.mt-xl-0
              .custom-control.custom-checkbox
                input#customCheck2.custom-control-input(type='checkbox')
                label.custom-control-label(for='customCheck2') Согласен на 
                  a(href="#") обработку персональных данных
        .form__additional.mt-35
          p.mb-0.mr-sm-25.mb-15.mb-sm-0 Уже регистрировались?
          a.p.text-white.font-weight-bold.text-underline(href="#") Войти
