mixin user(data)
  .user&attributes(attributes)
    .user__left
      .user__picture
        img(src="./img/" + data.picture, alt)
      .user__content
        p.lg.font-weight-medium.mb-5 Александров Виктор
        p.xs.mb-5
          span.font-weight-medium Интересы: 
          span Стрельба из лука, шахтер и шахматист. Люблю лук
        p.xs.mb-0
          span.font-weight-medium Адрес: 
          span= data.address
    .user__right
      
      if data && data.modifier == 'sent'
        p.xxs.text-center.mb-15 Открытка
        a.btn.btn-primary.btn-primary--gift.disabled(href="#") Подарок отправлен
      
      else if data && data.modifier == 'address'
        p.xxs.text-center.mb-15 Офлайн-подарок
        a.btn.btn-primary.disabled(href="#") Адрес запрошен
      
      else if data && data.modifier == 'offline-sent'
        p.xxs.text-center.mb-15 Офлайн-подарок
        a.btn.btn-primary(href="#") Я отправил подарок
      
      else
        a.btn.btn-primary(href="#modal-type" data-fancybox) Отправить подарок
