.user {
  margin-bottom: 30px;
  padding: 8px 33px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;

  @include media-breakpoint-down(lg) {
    flex-flow: row wrap;
    padding-right: 8px;
  }

  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__right {
    margin-left: 20px;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
    }
  }

  &__picture {
    margin-right: 24px;
    display: flex;
    width: 112px;
    min-width: 112px;
    height: 104px;
    min-height: 104px;
    justify-content: center;
    align-items: center;
    background: $white;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .btn-primary {
    padding: 13px 29px;
    min-width: 208px;
    font-size: 14px;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    &:disabled,
    &.disabled {
      padding: 14px 30px;
    }

    &--gift {
      padding: 8px 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:disabled,
      &.disabled {
        padding: 8px 18px;
      }

      &:before {
        margin-right: 7px;
        display: block;
        width: 20px;
        height: 25px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='25' viewBox='0 0 20 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1881 7.4003C16.4445 7.4003 16.7039 7.4003 16.9571 7.4003C17.6007 7.43663 18.2423 7.5127 18.8794 7.62819C19.0155 7.66789 19.1436 7.73954 19.2562 7.83895C19.3689 7.93837 19.464 8.06357 19.5358 8.20728C19.9775 9.25515 20.0884 10.4582 19.8484 11.5959C19.6702 12.5299 19.1013 12.9408 18.3261 13.0903C17.0977 13.2995 17.1071 13.3219 17.0946 14.8388C17.079 16.7068 17.054 18.5748 17.0321 20.4428C17.0132 20.5914 17.0132 20.7426 17.0321 20.8912C17.2915 21.8775 16.8008 22.4155 16.2069 22.8974C15.806 23.2621 15.3886 23.6001 14.9566 23.9099C14.2568 24.4194 13.426 24.608 12.6186 24.4404C12.2245 24.3841 11.8271 24.3691 11.4308 24.3956C9.55537 24.3096 7.66119 24.291 5.78263 24.1042C4.90118 24.0145 4.29167 23.2299 3.96347 22.2361C3.84374 21.785 3.76206 21.3206 3.71965 20.8501C3.33519 18.2348 2.94448 15.5972 2.57565 12.9707C2.48188 12.3095 2.0849 12.3095 1.71919 12.4103C1.15344 12.571 0.981526 12.2721 0.900258 11.6855C0.756475 10.6245 0.525171 9.57841 0.440777 8.51364C0.433959 7.94012 0.527657 7.37125 0.715842 6.84362C0.765853 6.67924 1.10969 6.57089 1.32536 6.55221C2.20681 6.48496 3.08826 6.46628 3.96972 6.41772C4.24197 6.41653 4.50998 6.33709 4.75115 6.18608C4.38544 6.02169 4.01348 5.87599 3.66027 5.68919C3.41215 5.5608 3.20091 5.34839 3.0526 5.07818C2.9043 4.80797 2.82542 4.49178 2.8257 4.16862C2.89759 3.5036 3.2883 3.21219 3.78842 3.01044C4.59798 2.68167 5.39816 2.41268 6.27024 2.59574C6.37225 2.58179 6.46982 2.53802 6.55432 2.4683C6.63882 2.39858 6.70765 2.30505 6.75473 2.19598C7.21109 0.67915 8.34259 -0.079267 9.60226 0.466196C10.0031 0.698226 10.3372 1.06758 10.5619 1.52723C10.7416 1.94905 10.877 2.39577 10.9651 2.85726C11.1495 3.48866 11.3183 3.53722 11.7027 3.02912C12.0153 2.61442 12.3279 2.18104 12.5967 1.73271C13.2562 0.67915 14.1752 0.33917 15.2161 0.425099C16.0537 0.496084 16.4257 1.24329 16.1538 2.22214C16.0694 2.5397 15.9537 2.84606 15.8256 3.2346C16.1756 3.29812 16.4507 3.33548 16.732 3.39525C17.6916 3.60447 18.4168 5.05779 18.0136 6.11509C17.8153 6.48353 17.5273 6.77041 17.1884 6.93703C16.8593 7.0841 16.5175 7.18685 16.1694 7.24338C16.1694 7.29569 16.1881 7.34799 16.1881 7.4003ZM9.02713 15.5449H8.89585C8.89585 14.835 8.85834 14.1214 8.89585 13.4153C8.93961 12.7989 8.74269 12.627 8.27071 12.6196C6.811 12.6196 5.35441 12.5486 3.8947 12.4925C3.50711 12.4925 3.47897 12.7354 3.53524 13.0753C3.67589 13.9197 3.80405 14.7678 3.96972 15.6046C4.16664 16.6096 4.38544 17.6072 4.61674 18.5935C4.87305 19.6844 5.1231 20.7791 5.4513 21.8401C5.59009 22.187 5.8369 22.4551 6.13897 22.5873C6.782 22.8526 7.44292 23.0513 8.11442 23.1813C8.93649 23.3457 9.01463 23.2449 9.02088 22.2361C9.02088 20.0207 9.01775 17.7828 9.01775 15.5449H9.02713ZM11.4058 17.8612H11.4652C11.4652 19.4042 11.4652 20.9509 11.4652 22.4939C11.4652 23.0058 11.7121 23.1552 12.0591 23.073C12.8155 22.8937 13.5688 22.6994 14.3127 22.4453C14.6299 22.3472 14.9079 22.1184 15.0978 21.7992C15.2876 21.48 15.3771 21.0909 15.3505 20.7006C15.3177 20.1873 15.3083 19.6722 15.3223 19.1576C15.3723 18.4814 15.5974 17.8127 15.5755 17.1476C15.5258 15.9078 15.4215 14.6719 15.2629 13.4452C15.2207 13.3313 15.156 13.2313 15.0743 13.1539C14.9927 13.0764 14.8965 13.0238 14.7941 13.0006C13.897 12.9259 12.9968 12.9259 12.0966 12.8848C11.6246 12.8624 11.4027 13.0903 11.4089 13.6768C11.4058 15.0704 11.3964 16.4714 11.3964 17.8612H11.4058ZM8.86459 9.9408C8.86459 9.48874 8.86459 9.16371 8.86459 8.84241C8.82708 7.87851 8.75832 7.78884 7.94876 7.7216C6.72556 7.63442 5.5034 7.55721 4.28229 7.48996C3.83267 7.45448 3.38159 7.45448 2.93198 7.48996C2.02864 7.58336 1.56291 8.21102 1.55666 9.26832C1.55666 10.4863 1.86923 10.9981 2.8507 11.1065C4.41356 11.2746 6.01081 11.3642 7.58617 11.5249C8.80208 11.6482 8.79895 11.6743 8.85209 10.2658C8.84271 10.1201 8.85209 9.96322 8.85522 9.9408H8.86459ZM13.5532 8.11388C13.0874 8.08026 12.6155 8.06157 12.1528 8.00927C11.809 7.97191 11.6496 8.11762 11.6527 8.54352C11.6527 9.3393 11.6527 10.1313 11.6371 10.9271C11.6271 11.0192 11.6348 11.1129 11.6596 11.2009C11.6844 11.289 11.7255 11.3691 11.78 11.4354C11.8345 11.5016 11.9009 11.5521 11.9742 11.5832C12.0474 11.6142 12.1256 11.6249 12.2029 11.6146C13.9251 11.6818 15.6412 11.7603 17.3728 11.8051C18.3105 11.8312 18.7637 11.4801 19.0732 10.5647C19.4201 9.53358 19.0263 8.54726 18.2292 8.48375C16.6726 8.34925 15.1098 8.25211 13.55 8.11388H13.5532ZM9.88357 22.9796H9.98672C10.0392 22.8623 10.0771 22.7364 10.0992 22.606C10.2118 20.5848 10.3431 18.5673 10.4118 16.5461C10.4263 15.4477 10.394 14.3491 10.3149 13.2547C10.3149 13.0866 10.1149 12.9296 10.0023 12.7653C9.89608 12.9222 9.71791 13.0679 9.68978 13.2397C9.65113 13.6677 9.64068 14.0987 9.65852 14.5287C9.69603 17.1912 9.73771 19.8563 9.78356 22.5238C9.80226 22.6794 9.83474 22.8322 9.88045 22.9796H9.88357ZM12.2154 6.56342C12.2404 6.62693 12.2654 6.69045 12.2872 6.75396C12.8355 6.74177 13.3821 6.67806 13.922 6.56342C14.3759 6.3948 14.8082 6.15216 15.2067 5.84236C15.2811 5.79915 15.3465 5.73665 15.3981 5.65941C15.4498 5.58217 15.4864 5.49214 15.5052 5.39587C15.5241 5.29961 15.5247 5.19952 15.5072 5.10291C15.4896 5.00629 15.4542 4.91558 15.4036 4.83737C15.3644 4.75105 15.3103 4.67565 15.2449 4.61614C15.1796 4.55663 15.1044 4.51436 15.0243 4.49212C14.9443 4.46988 14.8612 4.46817 14.7806 4.48711C14.6999 4.50605 14.6236 4.54521 14.5565 4.602C13.8564 5.08395 13.175 5.59952 12.4998 6.12257C12.3748 6.21597 12.306 6.41398 12.2122 6.56342H12.2154ZM8.43011 5.72655C8.02064 4.54222 6.79849 3.55964 5.91078 3.67172C5.79395 3.69646 5.68349 3.75318 5.58805 3.83743C5.49262 3.92169 5.41479 4.03121 5.36065 4.15741C5.33409 4.29619 5.33706 4.44071 5.36928 4.57776C5.40149 4.71482 5.46194 4.84004 5.54508 4.94198C6.4293 5.50824 7.42483 5.77926 8.42699 5.72655H8.43011ZM11.6902 5.56216C11.934 5.38657 12.1028 5.28569 12.2497 5.15493C12.7326 4.75819 13.1931 4.32387 13.6282 3.85479C13.9747 3.4059 14.2797 2.91363 14.5378 2.38652C14.5659 2.33795 14.3565 1.97929 14.2721 1.98677C13.1812 2.11379 11.7559 4.01544 11.6871 5.56216H11.6902ZM10.8557 9.63071H10.8338C10.8605 9.20503 10.8542 8.77729 10.815 8.35299C10.779 8.24042 10.7196 8.14061 10.6426 8.06287C10.5655 7.98512 10.4732 7.93198 10.3743 7.9084C10.1836 7.9084 9.83981 8.12882 9.82731 8.282C9.7648 9.1936 9.76792 10.1164 9.77105 11.0355C9.77105 11.4427 10.0023 11.566 10.3149 11.5697C10.6275 11.5735 10.8463 11.4576 10.8557 11.0392C10.8651 10.6208 10.8525 10.1201 10.8525 9.63071H10.8557ZM10.0117 5.78632C10.3681 4.83363 10.1461 4.01544 10.0117 3.20845C10.0078 3.09306 9.98298 2.98007 9.93889 2.87731C9.89479 2.77456 9.83252 2.68451 9.75638 2.61341C9.68024 2.54231 9.59206 2.49188 9.49798 2.4656C9.40389 2.43932 9.30616 2.43784 9.21154 2.46124C8.82083 2.52102 8.5864 2.99176 8.66767 3.55217C8.8052 4.51607 9.3522 5.12504 10.0117 5.78632ZM16.3163 5.5248C16.7289 5.37162 16.8727 5.07647 16.7695 4.67672C16.6664 4.27696 16.4132 4.27322 16.11 4.43387C16.1881 4.7888 16.2382 5.11757 16.3163 5.5248Z' fill='black'/%3E%3C/svg%3E");
      }
    }
  }
}
