.audio {

  &__hidden {
    display: none;
  }

  &__player {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 32px;
    height: 32px;
    background: url(../img/audio-play.svg) no-repeat center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &.pause {
      background: url(../img/audio-pause.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__progress-time {
    min-width: 62px;
    font-family: $font-family-sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &__progress-wrapper {
    position: relative;
    margin: 0 25px 0 15px;
    width: 230px;
    height: 28px;

    @include media-breakpoint-down(sm) {
      margin: 0 10px;
      width: 130px;
    }
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/audio-progress.svg) no-repeat left center;
  }

  &__progress-played {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(../img/audio-progress-active.svg) no-repeat left center;
  }
}
