mixin audio(data)
  .audio&attributes(attributes)
    audio.audio__hidden(controls='' src='./img/song.mp3')
    .audio__player
      button.audio__btn
      .audio__progress-wrapper
        .audio__progress
          .audio__progress-played
      .audio__progress-time 00:00

