mixin front(data)
  .front&attributes(attributes)
    .container
      .row
        .col-xl-5.col-md-8
          .front__content
            h1.front__title Стань тайным Дедом Морозом
            p.font-weight-bold.mb-30.mb-xl-70 В детстве каждый писал письмо Деду Мороза с самыми заветным мечтами, Новый Год отличная возможность вспомнить  детство и  стать волшебником чтобы подарить чудо другому человеку
            a.btn.btn-primary.front__btn(href="#") Стать Дедом Морозом
        .col-xl-7.col-md-4
          .front__picture
            .front__picture-hashtags #ПодариНовогоднееЧудо <br>#Вместев2021 <br>#ТайныйДедМороз
