.front {
  margin-bottom: -120px;
  width: 100%;
  min-height: 1190px;
  background: $primary url(../img/front-bg.png) bottom center no-repeat;

  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
    min-height: 0;
    background-position: top left;
    background-size: cover;
  }

  @include media-breakpoint-down(md) {
    background-position: top left 30%;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
    background: $primary url(../img/front-bg-mob.png) left top no-repeat;
    background-size: cover;
  }

  &__content {
    padding-top: 93px;
    padding-bottom: 40px;

    @include media-breakpoint-down(lg) {
      padding-bottom: 104px;
    }

    @include media-breakpoint-down(sm) {
      padding: 80px 0 50px;
    }

    p {
      font-size: 20px;
      line-height: 150%;
      font-weight: bold;
      color: $black;
    }
  }

  &__title {
    margin-bottom: 78px;
    font-family: $font-family-serif;
    font-size: 107.586px;
    line-height: 76.4%;
    font-weight: normal;
    text-shadow: 2px 2px 2px $black;
    color: $white;
    transform: rotate(-.66deg);

    @include media-breakpoint-down(xs) {
      margin-bottom: 60px;
      font-size: 65px;
    }
  }

  &__picture {
    position: relative;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__picture-hashtags {
    position: absolute;
    top: 81px;
    left: -37px;
    font-family: $font-family-serif;
    font-size: 22.4739px;
    line-height: 124.4%;
    font-weight: normal;
    color: #000000;
    transform: rotate(-15deg);
  }

  &__btn {
    padding-top: 20.18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20.18px;
    min-width: 332px;
    font-size: 21.4381px;
    line-height: 1;
    box-shadow: 0 5.35954px 0 rgba(255, 255, 255, .32);
  }
}
