.cabinet {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  background-image: linear-gradient(90deg, $primary 50%, $white 0%);

  &__container {
    display: flex;
    flex-grow: 1;
  }

  &__container-row {
    display: flex;
    min-width: 100%;
  }

  &__left {
    position: static;
    z-index: 2;
    padding-top: 141px;
    padding-right: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $primary;

    @include media-breakpoint-down(md) {
      padding-top: 100px;
      padding-right: 20px;
      padding-bottom: 40px;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 232px;
      height: 268px;
      content: '';
      background: transparent url(../img/cabinet-left-bg1.svg) 0 0 no-repeat;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 50px;
      display: block;
      width: 133px;
      height: 147px;
      content: '';
      background: transparent url(../img/cabinet-left-bg2.svg) 0 0 no-repeat;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__right {
    position: relative;
    z-index: 1;
    padding-top: 148px;
    padding-left: 40px;
    padding-bottom: 52px;
    background-color: $white;

    @include media-breakpoint-down(md) {
      padding-top: 60px;
      padding-left: 20px;
      padding-bottom: 30px;
    }

    &:before {
      position: absolute;
      top: 20px;
      left: -61px;
      display: block;
      width: 141px;
      height: 176px;
      content: '';
      background: transparent url(../img/cabinet-right-bg1.svg) 0 0 no-repeat;
    }

    &:after {
      position: absolute;
      right: -250px;
      bottom: 0;
      display: block;
      width: 320px;
      height: 375px;
      content: '';
      background: transparent url(../img/cabinet-right-bg2.svg) 0 0 no-repeat;
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 40px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }

  &__left-top {
    position: relative;
    z-index: 2;

    h1 {

      br {

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  &__left-bottom {
    position: relative;
    z-index: 2;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  &--in {

    .cabinet__right {
      padding-bottom: 0;

      @include media-breakpoint-down(md) {
        padding-bottom: 30px;
      }

      &:after {
        bottom: 190px;
      }
    }
  }
}
