mixin map(data)
  script(defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfmCdarInQfsokrkyXyqt8FO-S-jFamCA&callback=initMap' type='text/javascript')
  .map&attributes(attributes)
    .map__content#map
