.map {
  position: relative;
  margin-top: 95px;
  margin-bottom: 88px;
  padding-top: 40.36%;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 70%;
  }

  &__content {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
