.video {
  position: relative;
  margin: 0 auto;
  padding-top: 37%;
  display: block;
  width: 100%;
  max-width: 920px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include transition;

  &:hover {
    opacity: .8;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 50%;
  }

  &:before {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    display: block;
    width: 72px;
    height: 72px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36 71.2429C55.6022 71.2429 71.4929 55.3522 71.4929 35.75C71.4929 16.1478 55.6022 0.25708 36 0.25708C16.3978 0.25708 0.50708 16.1478 0.50708 35.75C0.50708 55.3522 16.3978 71.2429 36 71.2429ZM29.6049 26.2671L46.003 36.6659L29.6049 47.0647V26.2671Z' fill='%23F7A600'/%3E%3C/svg%3E");
  }

  &--dark {
    min-height: 231px;
    background-color: #5e5e5e;

    &:before {
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
      background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30.085' cy='30.2021' r='30' fill='%23333333' fill-opacity='0.5'/%3E%3Cpath d='M24.085 37.436V22.9683C24.085 22.191 24.9329 21.7109 25.5995 22.1108L37.6558 29.3447C38.3031 29.7331 38.3031 30.6712 37.6558 31.0596L25.5995 38.2935C24.9329 38.6934 24.085 38.2133 24.085 37.436Z' fill='white'/%3E%3C/svg%3E");
    }
  }
}
