.gift {
  margin-bottom: 33px;
  padding: 20px 60px 0 30px;
  display: flex;
  background: #f0f0f0;

  @include media-breakpoint-down(lg) {
    padding-right: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__picture {
    position: relative;
    padding-right: 20px;
    width: 100%;
    max-width: 328px;
    max-height: 260px;

    @include media-breakpoint-down(lg) {
      max-width: 200px;
    }
  }

  &__content {
    padding-top: 27px;
    padding-bottom: 10px;
    flex: 1;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }

  &__controls {

    .btn {
      margin: 5px 0;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 14px;
    }

    .btn-primary {
      margin-right: 24px;
    }
  }
}
