mixin gift(data)
  .gift&attributes(attributes)
    .gift__picture
      img(src="./img/" + data.picture, alt)
    .gift__content
      h3.mb-30= data.title
      .gift__controls
        if data && data.modifier == 'address'
          a.btn.btn-primary.btn-fix-width(href="#") Предоставить адрес
          a.btn.btn-outline-primary.btn-fix-width(href="#") Отказаться
        else
          a.btn.btn-primary.btn-fix-width(href="#") Открыть
