mixin select(data)
  .select&attributes(attributes)
    select.select__input
      option(selected value="" + data.default + "")= data.default
      option(value="Вариант 2") Вариант 2
      option(value="Вариант 3") Вариант 3
