.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 53px 0 0;
  width: 100%;

  @include media-breakpoint-down(md) {
    padding: 20px 0 0;
  }

  &--front {

    .header__wrapper {
      justify-content: flex-end;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__back {
    display: block;
    width: 17px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 9.26826H1M1 9.26826L9 1.26826M1 9.26826L9 17.2683' stroke='black'/%3E%3C/svg%3E");

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__user {
    display: flex;
  }

  &__user-content {
    margin-right: 24px;
    text-align: right;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    p {
      line-height: 150%;
    }

    a {

      @include media-breakpoint-down(md) {
        color: $dark;
      }
    }
  }

  &__user-btn {
    display: block;
    width: 48px;
    min-width: 48px;
    height: 50px;
    min-height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='50' viewBox='0 0 48 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.5 25.2814C47.5 38.4407 36.9725 49.0972 24 49.0972C11.0274 49.0972 0.5 38.4407 0.5 25.2814C0.5 12.1222 11.0274 1.4657 24 1.4657C36.9725 1.4657 47.5 12.1222 47.5 25.2814Z' stroke='white'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cellipse cx='24.458' cy='20.2156' rx='4' ry='4.05262' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5947 24.5703C19.7126 25.4662 18.4961 28.332 18.4961 29.663C18.4961 32.4244 17.6112 32.163 24.3724 32.163C30.6131 32.163 30.4577 32.4244 30.4577 29.663C30.4577 28.332 29.0322 25.4662 28.1501 24.5703C27.0309 25.167 25.7429 25.5067 24.3724 25.5067C23.0019 25.5067 21.7139 25.167 20.5947 24.5703Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16.2105' fill='white' transform='translate(16.458 16.163)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--orange {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='50' viewBox='0 0 48 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.5 25.2814C47.5 38.4407 36.9725 49.0972 24 49.0972C11.0274 49.0972 0.5 38.4407 0.5 25.2814C0.5 12.1222 11.0274 1.4657 24 1.4657C36.9725 1.4657 47.5 12.1222 47.5 25.2814Z' fill='%23FF6C00' stroke='white'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cellipse cx='24.458' cy='20.2156' rx='4' ry='4.05262' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5947 24.5703C19.7126 25.4662 18.4961 28.332 18.4961 29.663C18.4961 32.4244 17.6112 32.163 24.3724 32.163C30.6131 32.163 30.4577 32.4244 30.4577 29.663C30.4577 28.332 29.0322 25.4662 28.1501 24.5703C27.0309 25.167 25.7429 25.5067 24.3724 25.5067C23.0019 25.5067 21.7139 25.167 20.5947 24.5703Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16.2105' fill='white' transform='translate(16.458 16.163)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}
