mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
    
        if data && data.modifier != 'front'
          a.header__back(href="#")
          
        .header__user
        
          if data && data.modifier == 'logged-in'
            .header__user-content
              p.sm.font-weight-medium.mb-0 Илья Чертилов
              p.xxs.mb-5 г. Тольятти
              a(href="#").p.xxs Выйти
          a.header__user-btn(href="#" class=(data && data.btnColor === 'orange' ? 'header__user-btn--orange' : ''))
