.form {

  &__item {
    margin-bottom: 25px;
  }

  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    color: $black;
  }

  &__footer {
    margin-top: 20px;
    margin-bottom: 52px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  &__additional {
    display: flex;

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  &__signup-socials {
    margin-bottom: 33px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }
}
