.stats {
  text-align: center;

  &__number {
    margin-bottom: 10px;
    font-family: $font-family-secondary;
    font-size: 123px;
    color: $primary;

    @include media-breakpoint-down(md) {
      font-size: 80px;
    }
  }
}
